<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/io/write"
            deprecated="true"
            factory-class="org.knime.ext.poi2.node.write2.XLSWriter2NodeFactory"/>
      <node
            category-path="/io/write"
            deprecated="true"
            factory-class="org.knime.ext.poi2.node.write2.XLSAppenderNodeFactory"/>
      <node
            category-path="/io/read"
            deprecated="true"
            factory-class="org.knime.ext.poi2.node.read3.XLSReaderNodeFactory">
      </node>
      <node
            category-path="/io/read"
            deprecated="true"
            factory-class="org.knime.ext.poi2.node.read2.XLSReaderNodeFactory">
      </node>
      <node
            category-path="/io/read"
            factory-class="org.knime.ext.poi2.node.readsheets.XLSSheetReaderNodeFactory">
      </node>
      <node
            category-path="/io/write"
            factory-class="org.knime.ext.poi2.node.write3.XLSAppenderNodeFactory">
      </node>
      <node
            category-path="/io/write"
            factory-class="org.knime.ext.poi2.node.write3.XLSWriter2NodeFactory">
      </node>
      <node
            category-path="/io/read"
            deprecated="false"
            factory-class="org.knime.ext.poi2.node.read4.XLSReaderNodeFactory">
      </node>
      
   </extension>
     <extension
           point="org.knime.workbench.repository.registeredFileExtensions">
        <FileExtensionMapping
              NodeFactory="org.knime.ext.poi2.node.read4.XLSReaderNodeFactory">
           <FileExtension
                 extension=".xls">
           </FileExtension>
           <FileExtension
                 extension=".xlsx">
           </FileExtension>
        </FileExtensionMapping>
    </extension>
</plugin>
