<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/io/write"
            deprecated="true"
            factory-class="org.knime.ext.poi.node.write.XLSWriterNodeFactory"/>
      <node
            category-path="/io/write"
            deprecated="true"
            factory-class="org.knime.ext.poi.node.write2.XLSWriter2NodeFactory"/>
      <node
            category-path="/io/write"
            deprecated="true"
            factory-class="org.knime.ext.poi.node.write2.XLSAppenderNodeFactory"/>
      <node
            category-path="/io/read"
            deprecated="true"
            factory-class="org.knime.ext.poi.node.read2.XLSReaderNodeFactory">
      </node>
      <node
            category-path="/io/read"
            deprecated="true"
            factory-class="org.knime.ext.poi.node.readsheets.XLSSheetReaderNodeFactory">
      </node>
   </extension>
</plugin>
