<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/io/write"
            factory-class="org.knime.ext.poi.node.write2.XLSWriter2NodeFactory"
            id="org.knime.ext.poi.node.write2.XLSWriter2NodeFactory"/>
      <node
            category-path="/io/write"
            factory-class="org.knime.ext.poi.node.write2.XLSAppenderNodeFactory"
            id="org.knime.ext.poi.node.write2.XLSAppenderNodeFactory"/>
      <node
            category-path="/io/read"
            expert-flag="false"
            factory-class="org.knime.ext.poi.node.read2.XLSReaderNodeFactory"
            id="org.knime.ext.poi.node.read.XLSReaderNodeFactory">
      </node>
      <node
            category-path="/io/read"
            factory-class="org.knime.ext.poi.node.readsheets.XLSSheetReaderNodeFactory"
            id="org.knime.ext.poi.node.readsheets.XLSSheetReaderNodeFactory">
      </node>
   </extension>
     <extension
           point="org.knime.workbench.repository.registeredFileExtensions">
        <FileExtensionMapping
              NodeFactory="org.knime.ext.poi.node.read2.XLSReaderNodeFactory">
           <FileExtension
                 extension=".xls">
           </FileExtension>
           <FileExtension
                 extension=".xlsx">
           </FileExtension>
        </FileExtensionMapping>
    </extension>   
</plugin>
